@model AssignmentModel

@{
    ViewData["Title"] = "DownloadFileFromDB";
}

@*Exists only so files can be downloaded from the action.*@

<h1>DownloadFileFromDB</h1>
<hr />
<a>
    You do not have permission to download this file.
</a>

